<databases>
 <database name="***Select Below***">
    <provider name="Sql" namespace="System.Data.SqlClient" assembly="System.Data" brand="31" />
    <autocommit value="false" />
    <named_parameters value="true" prefix="@" />
    <multiple_connections value="false" />
    <null_empty_strings value="true" />
    <mars_supported value = "true" />
    <timeout value="300"/>
</database>
  <database name="Your Database Name Here">
    <provider name="Sql" namespace="System.Data.SqlClient" assembly="System.Data" brand="31" />
    <autocommit value="false" />
    <named_parameters value="true" prefix="@" />
    <multiple_connections value="false" />
    <null_empty_strings value="true" />
    <mars_supported value = "true" />
    <connection_string value="Data Source=Your Database Server Here;Initial Catalog=Your database name here;MultipleActiveResultSets=true;" />
    <timeout value="300"/>
    <custom_properties>
      <add name="HideOnLogin" value ="true" />
    </custom_properties>
  </database>
  </database>
  <database name="ArtiosCadDB">
    <provider name="Sql" namespace="System.Data.SqlClient" assembly="System.Data" brand="31" />
    <autocommit value="false" />
    <named_parameters value="true" prefix="@" />
    <multiple_connections value="false" />
    <null_empty_strings value="true" />
    <mars_supported value = "true" />
    <connection_string value="Data Source=Your Artios Cad DB Server here;Initial Catalog=Your Artios Cad DB here;MultipleActiveResultSets=true;" />
    <timeout value="300"/>
    <custom_properties>
      <add name="HideOnLogin" value ="true" />
    </custom_properties>
  </database>
</databases>